{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint/eslint-plugin", "es-x"],
    "ignorePatterns": ["lib/*", "node_modules/**"],
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:es-x/no-new-in-es2020"
    ],
    "env": {
       "node": true, 
       "jest": true
    },
    "rules": {
        "prettier/prettier": "warn",
        "no-console": "warn",
        "sort-imports": [
            "warn",
            {
                "ignoreCase": true,
                "ignoreDeclarationSort": true
            }
        ],
        "padding-line-between-statements": [
            "error",
            {
                "blankLine": "always",
                "prev": "block-like",
                "next": "*"
            },
            {
                "blankLine": "always",
                "prev": "*",
                "next": "block-like"
            }
        ],
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-empty-function": "warn",
        "@typescript-eslint/no-this-alias": "off",
        "no-inner-declarations": "off",
        "es-x/no-optional-chaining": "ERROR",
        "es-x/no-class-fields": "OFF",
        "es-x/no-export-ns-from": "OFF",
    },
    "overrides": [
        {
            "files": ["src/**/*.ts", "src/**/*.tsx"],
            "parserOptions": {
                "project": "./tsconfig.json"
            }
        },
        {
            "files": ["test/**/*.ts", "test/**/*.tsx"],
            "parserOptions": {
                "project": "./test/tsconfig.json"
            }
        }
    ]
}
